-----BEGIN CERTIFICATE-----
MIIDrTCCApWgAwIBAgIJAJNq5WlXWN0xMA0GCSqGSIb3DQEBCwUAMG0xCzAJBgNV
BAYTAkNIMRQwEgYDVQQIDAtTd2l0emVybGFuZDERMA8GA1UEBwwITGF1c2FubmUx
DDAKBgNVBAoMA1NJQjEMMAoGA1UECwwDU0lCMRkwFwYDVQQDDBBsZGFwLnVyYW5p
dW0ubGFuMB4XDTE4MDMyNjEyNDIzNFoXDTI4MDIwMjEyNDIzNFowbTELMAkGA1UE
BhMCQ0gxFDASBgNVBAgMC1N3aXR6ZXJsYW5kMREwDwYDVQQHDAhMYXVzYW5uZTEM
MAoGA1UECgwDU0lCMQwwCgYDVQQLDANTSUIxGTAXBgNVBAMMEGxkYXAudXJhbml1
bS5sYW4wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC3HI6TDt25wqiB
gcFoozBv1WBIyD7fEEiHeadmmor4/R9a0geAX0XEsbcrzxplaoXM9Tc/3Q7JnMI9
LFZXMro3kfRjJEa4l5JnLOJ7rU9hK90Ua2DIu8UNdIDH4ulkKC6WgpH7EnpFDUOE
kxA6EkoqqNfahd4JT4OaAAUY1XKr20wNwuKgje2yV4PP7YrZ0dG1SPX349/vw2w0
09zsk6nKgStuDn+jqL+y/gko3nzQyg75A1PveIwxeRLXv32un1bKtpa7sKyYqC8M
N3C9y5Dq5ghVa00kJx1dTJue7x3ilApGqKSIoUtr7JBdxy4ZFLNT+aV5T46zJuyW
iOfxCNN5AgMBAAGjUDBOMB0GA1UdDgQWBBTqS3pcaEwhhXvCIYl1h4P9qfAMfzAf
BgNVHSMEGDAWgBTqS3pcaEwhhXvCIYl1h4P9qfAMfzAMBgNVHRMEBTADAQH/MA0G
CSqGSIb3DQEBCwUAA4IBAQAKt/JYbBTXP6F1nlihSDWVelWzdxJ4RGrJg+VfIEOK
KrlKZMf+LwkVuDwkFGs9ftzbnCmVc33+kqdy7GTMTRaL1BZa0monpSub2sWrlz7Z
mk4ma2VIW9+CKINx5MmDQ7/KbxvBGZ4tg+lXnbtUnR7uWCo3XxeUE9ied+XBVYQG
/pdfSmiZOkM1+r89XboQK1wbAkeFfBHjGFmSsfbITDxSsRI+uJ/JoQ4t0rS/yJSq
Ju93Futo3DahbAwu5OzqvU1izgh2XA6WPuZe8sd2s0nXGsQHU0vh6ElV1o4jI4W5
R/ci24jSB5rRU0zw0Yd2sdivnZRq2HgqgUXgVOmj5DqJ
-----END CERTIFICATE-----